@model DepartmentLibrary.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="main-login">
<h2 class="login-title">Login</h2>

<form method="post" asp-controller="AuthMvc" asp-action="Login" class="login-form">
    @Html.AntiForgeryToken()

    <div class="login-form-group">
        <label for="Email" class="login-form-label">Email</label>
        <input asp-for="Email" type="email" class="login-form-input" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="login-form-group">
        <label for="Password" class="login-form-label">Password</label>
        <input asp-for="Password" type="password" class="login-form-input" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="login-submit-btn">Login</button>
</form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
